.on {
  background: green;
}

.off {
  background-color: red;
}

.Medium {
  color:#fdc308;
}

.High {
  color:#fd0808;
}

.Low {
  color:#2eb600;
}

body {
  font-family: Arial, Helvetica, sans-serif; 
}
